<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>coursera</title>
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/header.css" />
    <link rel="stylesheet" href="./assets/css/mediaScreen.css" />
    <link rel="stylesheet" href="./assets/css/container.css" />
    <link rel="stylesheet" href="./assets/css/menuCategories.css" />
    <link
      rel="stylesheet"
      href="node_modules\bootstrap\dist\css\bootstrap.min.css"
    />

    <!-- font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- start header -------------------------------------->
    <div class="header">
      <div class="box_1 d-xs-none">
        <img src="/assets/image/restaurant-logo_large.png" alt="logo image" />
      </div>

      <div class="box_2">
        <a href="index.html"><h1>David Chu`s China Bistro</h1></a>
        <p>
          <img
            class="start"
            src="./assets/image/logo-star.png"
            alt="kosher certification"
            cours_header_itemcontainer-fluid
          />
          <span>Kosher Certified</span>
        </p>
      </div>
      <div id="#navbarNav" class="box_3 d-xs-none">
        <ul id="toggle">
          <li class="nav-item active text_header_color">
            <img src="/assets/image/restaurant.png" alt="" />
            <a class="nav-link" aria-current="page" href="./menuCategories.html"
              >Menu</a
            >
          </li>
          <li class="nav-item text_header_color">
            <img src="/assets/image/warning.png" alt="" />
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item text_header_color">
            <img src="/assets/image/pointed-star.png" alt="" />
            <a class="nav-link" href="#">Awards</a>
          </li>
          <li class="nav-item text_header_color">
            <a class="nav-link" href="tel:410-602-5008">410-602-5008</a>
            <span class="mt-2">*We Delever</span>
          </li>
        </ul>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button
          class="menu_btn"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <ul class="toggle">
              <li class="nav-item text_header_color">
                <img src="/assets/image/restaurant.png" alt="" />
                <a
                  class="nav-link"
                  aria-current="page"
                  href="./menuCategories.html"
                  >Menu</a
                >
              </li>
              <li class="nav-item text_header_color">
                <img src="/assets/image/warning.png" alt="" />
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item text_header_color">
                <img src="/assets/image/pointed-star.png" alt="" />
                <a class="nav-link" href="#">Awards</a>
              </li>
              <li class="nav-item text_header_color">
                <img src="/assets/image/pointed-star.png" alt="" />
                <a class="nav-link" href="#">Faq</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- start show number -->

    <div class="showNumber">
      <a class="nav-link" href="tel:410-602-5008">410-602-5008</a>
      <span class="mt-2">*We Delever</span>
    </div>

    <!-- start main content--------------------------------------- -->

<div class="menuCountainer">

    <div class="container d-flex flex-row flex-wrap align-content-center justify-content-center align-items-center ng-scope gap-5">
      <h2 id="menu-categories-title" class=" d-inline w-100 text-center text-white mt-4">Menu Categories</h2>
      <div class="text-center d-inline w-100 text-light">
        Substituting white rice with brown rice or fried rice after 3:00pm will be $1.50 for a pint and $2.50 for a quart.
      </div>
    
    
      <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="singleCategory.html">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/C.jpg" alt="Lunch" src="./assets//image//menu image/C.jpg">
          <span class="ng-binding">Lunch</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/A">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/A.jpg" alt="Soup" src="./assets//image//menu image/A.jpg">
          <span class="ng-binding">Soup</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/B">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/B.jpg" alt="Appetizers" src="./assets//image//menu image/B.jpg">
          <span class="ng-binding">Appetizers</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/SP">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/SP.jpg" alt="Chef's Recommendations" src="./assets//image//menu image/SP.jpg">
          <span class="ng-binding">Chef's Recommendations</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/C">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/C.jpg" alt="Chicken" src="./assets//image//menu image/C.jpg">
          <span class="ng-binding">Chicken</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/F">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/F.jpg" alt="Beef" src="./assets//image//menu image/F.jpg">
          <span class="ng-binding">Beef</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/V">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/V.jpg" alt="Veal" src="./assets//image//menu image/V.jpg">
          <span class="ng-binding">Veal</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/DK">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/DK.jpg" alt="Duck" src="./assets//image//menu image/DK.jpg">
          <span class="ng-binding">Duck</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/VG">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/VG.jpg" alt="Vegetables" src="./assets//image//menu image/VG.jpg">
          <span class="ng-binding">Vegetables</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/CU">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/CU.jpg" alt="Curry" src="./assets//image//menu image/CU.jpg">
          <span class="ng-binding">Curry</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/NL">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/NL.jpg" alt="Noodles (Lo Mein)" src="./assets//image//menu image/NL.jpg">
          <span class="ng-binding">Noodles (Lo Mein)</span>
        </div>
      </a>
    </div>
    </menu-category><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/NF">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/NF.jpg" alt="Mei Fan (Very Fine Noodles)" src="./assets//image//menu image/NF.jpg">
          <span class="ng-binding">Mei Fan (Very Fine Noodles)</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/PF">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/F.jpg" alt="Pan Fried Noodles" src="./assets//image//menu image/F.jpg">
          <span class="ng-binding">Pan Fried Noodles</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/FR">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/FR.jpg" alt="Fried Rice" src="./assets//image//menu image/FR.jpg">
          <span class="ng-binding">Fried Rice</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/CM">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/CM.jpg" alt="Chow Mein" src="./assets//image//menu image/CM.jpg">
          <span class="ng-binding">Chow Mein</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/FY">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/D.jpg" alt="Egg Foo Young" src="./assets//image//menu image/D.jpg">
          <span class="ng-binding">Egg Foo Young</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/SO">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/CU.jpg" alt="Side Orders" src="./assets//image//menu image/CU.jpg">
          <span class="ng-binding">Side Orders</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/DS">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/DS.jpg" alt="Desserts" src="./assets//image//menu image/DS.jpg">
          <span class="ng-binding">Desserts</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/D">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/C.jpg" alt="Dinner Combo" src="./assets//image//menu image/C.jpg">
          <span class="ng-binding">Dinner Combo</span>
        </div>
      </a>
    </div>
    </menu-category>
    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/SR">
        <div class="menuImage">
          <img width="200" height="200" ng-src="./assets//image//menu image/SR.jpg" alt="Sushi Menu" src="./assets//image//menu image/SR.jpg">
          <span class="ng-binding">Sushi Menu</span>
        </div>
      </a>
    </div>
    </menu-category>
    
    </div>

  </div>


    </div>
    <!-- start footer -------------------------------------------- -->

    <div class="row w-100 h-100 bg-dark m-auto text-white">
      <section class="col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center mt-5">
        <span>Horse:</span><br />
        Sun-Thurs: 11:15am - 10:00pm<br />
        fri: 11:15 - 2:30pm <br />
        Saturday Closed
        <hr class="d-md-none d-lg-none d-xl-none d-sm-inline" />
      </section>
      <section class="col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center mt-5">
        <span>Addres:</span><br />
        7105 Reisterstown Road<br />
        Baltimore , MD 21215
        <p class="text-success">
          * Delivery area within 3-4 miles , with minimum order of $20 plus $3
          charge for all delivery.
        </p>
        <hr class="d-md-none d-lg-none d-xl-none d-sm-inline" />
      </section>
      <section class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center mt-5">
        <p>
          "The best Chinese restaurant i've been to! And that's saying a lot ,
          since I've been to many!"
        </p>
        <p>
          "Amazing food! Great service! Could't ask for more! I'll be back again
          and again!"
        </p>
      </section>
      <div class="text-center col-sm-12 col-md-12 col-lg-12 col-xl-12 p-3">
        &copy; copyright David Chu's China Bistro 2015
      </div>
    </div>

    <!-- javascrip links--------------------------------------- -->
    <script src="node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
  </body>
</html>
